---
import Layout from "@/layouts/VueLayout.vue";
import Carousel from "@/components/index/Carousel.vue"
import Game from "@/components/index/Games.vue"
---

<Layout client:only="vue">
  <div class="my-4">
    <Carousel client:load />
  </div>
  <div class="my-2">
    <Game  client:load />
  </div>
</Layout>
